---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_173R5nAB0zIqu5n0Rq20csKG&plan=1&email=alice%40example.com
    headers:
      Authorization:
      - Bearer sk_test_OGO6Th4XlLrPTcNjOSyVOfqx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7I18vM68caZMRS",
          "object": "customer",
          "account_balance": 0,
          "created": 1446642863,
          "currency": "usd",
          "default_source": "card_173R5mAB0zIqu5n0HOJeDms1",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "alice@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_173R5mAB0zIqu5n0HOJeDms1",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7I18vM68caZMRS",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 10,
                "exp_year": 2017,
                "fingerprint": "lLe38KkKeTa3Vxqn",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7I18vM68caZMRS/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_7I18UlGLIZk47V",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1449234863,
                "current_period_start": 1446642863,
                "customer": "cus_7I18vM68caZMRS",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "1",
                  "object": "plan",
                  "amount": 999,
                  "created": 1446640506,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "MyFliX Base Plan",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1446642863,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7I18vM68caZMRS/subscriptions"
          }
        }
  recorded_at: Wed, 04 Nov 2015 13:14:25 GMT
recorded_with: VCR 2.9.3
