---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_174Ed8AB0zIqu5n0rH89nSaa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_OGO6Th4XlLrPTcNjOSyVOfqx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_174Ed8AB0zIqu5n0rH89nSaa",
          "object": "event",
          "api_version": "2015-08-19",
          "created": 1446833286,
          "data": {
            "object": {
              "id": "ch_174Ed8AB0zIqu5n0X7qkbbRH",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application_fee": null,
              "balance_transaction": "txn_174Ed8AB0zIqu5n0eSgha1LN",
              "captured": true,
              "created": 1446833286,
              "currency": "usd",
              "customer": "cus_7IqJmx4lGusW65",
              "description": null,
              "destination": null,
              "dispute": null,
              "failure_code": null,
              "failure_message": null,
              "fraud_details": {},
              "invoice": "in_174Ed8AB0zIqu5n0S1z47Bp1",
              "livemode": false,
              "metadata": {},
              "paid": true,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_174Ed8AB0zIqu5n0X7qkbbRH/refunds"
              },
              "shipping": null,
              "source": {
                "id": "card_174Ed4AB0zIqu5n0nXdstOqM",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7IqJmx4lGusW65",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 11,
                "exp_year": 2018,
                "fingerprint": "lLe38KkKeTa3Vxqn",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "statement_descriptor": null,
              "status": "succeeded"
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": "req_7IqJxODANilKYj",
          "type": "charge.succeeded"
        }
  recorded_at: Fri, 06 Nov 2015 18:36:31 GMT
recorded_with: VCR 2.9.3
