---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=10&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_OGO6Th4XlLrPTcNjOSyVOfqx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16s3AIAB0zIqu5n0jdAVIE7B",
          "livemode": false,
          "created": 1443929278,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16s3AIAB0zIqu5n036yzTfcv",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 10,
            "exp_year": 2016,
            "fingerprint": "lLe38KkKeTa3Vxqn",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "72.90.179.173"
        }
  recorded_at: Sun, 04 Oct 2015 03:27:58 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=100&currency=usd&source=tok_16s3AIAB0zIqu5n0jdAVIE7B
    headers:
      Authorization:
      - Bearer sk_test_OGO6Th4XlLrPTcNjOSyVOfqx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_16s3AJAB0zIqu5n0XjnALR1z",
          "object": "charge",
          "created": 1443929279,
          "livemode": false,
          "paid": true,
          "status": "succeeded",
          "amount": 100,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_16s3AIAB0zIqu5n036yzTfcv",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 10,
            "exp_year": 2016,
            "fingerprint": "lLe38KkKeTa3Vxqn",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "captured": true,
          "balance_transaction": "txn_16s3AJAB0zIqu5n0RFqzsb8a",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "destination": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_16s3AJAB0zIqu5n0XjnALR1z/refunds",
            "data": []
          }
        }
  recorded_at: Sun, 04 Oct 2015 03:27:59 GMT
recorded_with: VCR 2.9.3
