---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=10&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_OGO6Th4XlLrPTcNjOSyVOfqx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16s3AlAB0zIqu5n0xya1uH5V",
          "livemode": false,
          "created": 1443929307,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16s3AlAB0zIqu5n0Vtfunpox",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 10,
            "exp_year": 2016,
            "fingerprint": "GBgHyM3O7rLMhT8N",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "72.90.179.173"
        }
  recorded_at: Sun, 04 Oct 2015 03:28:27 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=100&currency=usd&source=tok_16s3AlAB0zIqu5n0xya1uH5V
    headers:
      Authorization:
      - Bearer sk_test_OGO6Th4XlLrPTcNjOSyVOfqx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_16s3AlAB0zIqu5n0RbPbtznZ"
          }
        }
  recorded_at: Sun, 04 Oct 2015 03:28:28 GMT
recorded_with: VCR 2.9.3
