---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_171FTKAB0zIqu5n0Gq7xSmtM&description=Monthly%20Subscription%20for%20%40%7B%40user.email_address%7D
    headers:
      Authorization:
      - Bearer sk_test_OGO6Th4XlLrPTcNjOSyVOfqx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_171FTLAB0zIqu5n0V0gRPinV",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_171FTLAB0zIqu5n00iTVMsiR",
          "captured": true,
          "created": 1446121539,
          "currency": "usd",
          "customer": null,
          "description": "Monthly Subscription for @{@user.email_address}",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_171FTLAB0zIqu5n0V0gRPinV/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_171FTKAB0zIqu5n0QOUZ4c7R",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 10,
            "exp_year": 2017,
            "fingerprint": "lLe38KkKeTa3Vxqn",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Thu, 29 Oct 2015 12:25:40 GMT
recorded_with: VCR 2.9.3
