---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_16s451AB0zIqu5n01CzgDIBM&description=Monthly%20Subscription%20for%20%40%7B%40user.email_address%7D
    headers:
      Authorization:
      - Bearer sk_test_OGO6Th4XlLrPTcNjOSyVOfqx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_16s451AB0zIqu5n0D6HzfZyr"
          }
        }
  recorded_at: Sun, 04 Oct 2015 04:26:35 GMT
recorded_with: VCR 2.9.3
