---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_174GFEAB0zIqu5n0C3MuvX8W
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_OGO6Th4XlLrPTcNjOSyVOfqx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_174GFEAB0zIqu5n0C3MuvX8W",
          "object": "event",
          "api_version": "2015-08-19",
          "created": 1446839492,
          "data": {
            "object": {
              "id": "ch_174GFEAB0zIqu5n0dDssjgu3",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application_fee": null,
              "balance_transaction": null,
              "captured": false,
              "created": 1446839492,
              "currency": "usd",
              "customer": "cus_7Ir7zDs69J3rGS",
              "description": "",
              "destination": null,
              "dispute": null,
              "failure_code": "card_declined",
              "failure_message": "Your card was declined.",
              "fraud_details": {},
              "invoice": null,
              "livemode": false,
              "metadata": {},
              "paid": false,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_174GFEAB0zIqu5n0dDssjgu3/refunds"
              },
              "shipping": null,
              "source": {
                "id": "card_174GEmAB0zIqu5n0azTZ7dxJ",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7Ir7zDs69J3rGS",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 11,
                "exp_year": 2016,
                "fingerprint": "1eKe0r7FFTtNvnr0",
                "funding": "credit",
                "last4": "0341",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "statement_descriptor": null,
              "status": "failed"
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": "req_7IrzxlmQZnnkxd",
          "type": "charge.failed"
        }
  recorded_at: Tue, 10 Nov 2015 15:43:36 GMT
recorded_with: VCR 2.9.3
