---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=10&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_OGO6Th4XlLrPTcNjOSyVOfqx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_173QpjAB0zIqu5n0tUupX5CU",
          "object": "token",
          "card": {
            "id": "card_173QpjAB0zIqu5n0FhZfBQDY",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 10,
            "exp_year": 2016,
            "fingerprint": "lLe38KkKeTa3Vxqn",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "72.90.179.173",
          "created": 1446641867,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Wed, 04 Nov 2015 12:57:48 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_173QpjAB0zIqu5n0tUupX5CU&plan=1&email=example%40example.com
    headers:
      Authorization:
      - Bearer sk_test_OGO6Th4XlLrPTcNjOSyVOfqx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7I0r8rijLjunz3",
          "object": "customer",
          "account_balance": 0,
          "created": 1446641869,
          "currency": "usd",
          "default_source": "card_173QpjAB0zIqu5n0FhZfBQDY",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "example@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_173QpjAB0zIqu5n0FhZfBQDY",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7I0r8rijLjunz3",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 10,
                "exp_year": 2016,
                "fingerprint": "lLe38KkKeTa3Vxqn",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7I0r8rijLjunz3/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_7I0r56LgcePW9M",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1449233869,
                "current_period_start": 1446641869,
                "customer": "cus_7I0r8rijLjunz3",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "1",
                  "object": "plan",
                  "amount": 999,
                  "created": 1446640506,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "MyFliX Base Plan",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1446641869,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7I0r8rijLjunz3/subscriptions"
          }
        }
  recorded_at: Wed, 04 Nov 2015 12:57:50 GMT
recorded_with: VCR 2.9.3
