---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=10&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_OGO6Th4XlLrPTcNjOSyVOfqx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_173QsSAB0zIqu5n0QdKBiLWH",
          "object": "token",
          "card": {
            "id": "card_173QsSAB0zIqu5n0hDilhtY0",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 10,
            "exp_year": 2016,
            "fingerprint": "GBgHyM3O7rLMhT8N",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "72.90.179.173",
          "created": 1446642036,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Wed, 04 Nov 2015 13:00:37 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_173QsSAB0zIqu5n0QdKBiLWH&plan=1&email=example%40example.com
    headers:
      Authorization:
      - Bearer sk_test_OGO6Th4XlLrPTcNjOSyVOfqx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "param": "",
            "code": "card_declined"
          }
        }
  recorded_at: Wed, 04 Nov 2015 13:00:41 GMT
recorded_with: VCR 2.9.3
